<div class="cst-code">
  <div class="cst-code-name">{{ content.code.code_name }}</div>
  <pre><code id="copycode">
  {{ content.code.code_here }}
  </pre></code>
<button class="copybtn" data-clipboard-target="#copycode">
  click for copy
</button>
</div>